<% provide(:title, "Home") %>

<h1>Welcome to Strava Activity Titler!</h1>

<p>
  Strava Activity Titler is a service that uses the Strava API to automatically
  modify the default titles of a user's activities, based on a set of rules
  defined by the user.
</p>
