<div class="center jumbotron">
  <h1>Welcome to the Strava Activity Titler!</h1>

  <p>
    Strava Activity Titler is a service that uses the Strava API to
    automatically modify the default titles of a user's activities, based on a
    set of rules defined by the user.
  </p>

  <%= link_to image_tag(
                "strava/btn_strava_connectwith_light/btn_strava_connectwith_light@2x.png",
                alt: "Connect with Strava"
              ), '#', class: "btn" %>
</div>
