<footer>
  <nav>
    <ul>
      <li><%= link_to "About", "#" %></li>
      <li><%= link_to "Contact", "#" %></li>
    </ul>
  </nav>
  <%= link_to image_tag(
          "strava/pwrdBy_strava/pwrdBy_strava_gray/api_logo_pwrdBy_strava_stack_gray.png", 
          alt: "Powered by Strava"
        ), 'https://www.strava.com/' %>
</footer>
